body {
    background-color: rgb(64, 189, 182);
    font-family: 'Antonio', sans-serif;
}

main {
    position: relative;
    width:940px;
    margin:0 auto;
}

nav {
    background-color: black;
    padding:300px 50px 100px 50px;

}
.titulo {
    position: relative;
    right: 6px;
    bottom: 62px;
    width:613px;
    background-color: white;
    font-size: 2em;
    text-align: center;
    color:rgb(0, 0, 0);
    

}

.playIcon {
    
    position: relative;
    left: 20px;
    bottom: 110px;
    color: rgb(255, 255, 255);
    font-size: 300px;
    margin:30px 20px 30px 20px

}

.classIcon {
    
    position: relative;
    left: 20px;
    bottom: 110px;
    color: rgb(255, 255, 255);
    font-size: 300px;
    margin:30px 20px 30px 20px

}

.pauseIcon {
    
    position: relative;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 180px;
    margin:30px 20px 30px 20px

}

nav ul {
    padding: 30px;

}

.musics {
    border:1px solid white;
    height: 300px;
    width: 600px;
    margin: 90px 20px 20px 150px;
    padding: 30px 5px 30px 5px;
    list-style: none;
    top:-100px;
    text-align: center;
    user-select: none;
    

}

#music1 {
    background-image:url("/images/ray-charles.jpg");

}

#music2 {
    background-image:url("/images/frank-sinatra.jpg");

}

#music3 {
    background-image:url("/images/creedence-clearwater-revival.jpg");

}



.musics:hover {
    cursor: pointer;
}

#audio {
    visibility: hidden;
    position: fixed;
    bottom: -1px;
    background-color: white;
    width: 940px;
    z-index: 4;


}

